@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/HelveticaNeue.ttc");
}
@font-face {
  font-family: "BPG Nino Mtavruli Bold";
  src: url("./assets/fonts/bpg-nino-mtavruli-bold-webfont.ttf");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 1000s;
  -webkit-text-fill-color: var(--main-bg-color) !important;
}
:root {
  /* COLOR */
  --main-bg-color: #f8f8f8;
  --card-color: #f1f1f1;
  --success-color: #98e37e;
  --error-color: #ef5050;
  --border-color: #bcbcbcb4;
  --border-focused: #bcbcbc;
  --purple-dark: #512faf;
  --purple-md: #6b40e3;
  --purple-pale: #7949ff;
  --pale-white-5: rgba(255, 255, 255, 0.5);
  --input-color: #000000;
  --pl-holder-color: hsla(0, 0%, 0%, 0.349);
  --pale-black: hsla(0, 0%, 0%, 0.637);
  --label-color: #000000;
  --off-black: #1a1a1a;
  --choice-color: #c3dcee;
  --pale-blue: #62a1eb;
  --blue: #428ee4;
  --cl-red: #f93b1d;
  /* FONT-SIZE */
  --font-sm: 1.6rem;
  --lh-small: 2.1rem;
  --font-md: 2.4rem;
  --lh-md: 2.9rem;
  /* other */
  --box-width-sm: 37.1rem;
  --box-width-lg: 79.8rem;
  --box-height-sm: 4.8rem;
}
body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "HelveticaNeue";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  transition: background-color 0.5s ease;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  border-radius: 0.4rem;
}
.submit-btn,
.btn-back {
  padding: 1.4rem 3.5rem;
  color: #ffffff;
  background-color: var(--purple-md);
}

.submit-btn:hover,
.submit-btn:active,
.btn-back:hover,
.btn-back:active {
  background-color: var(--purple-pale);
}
.resume-section-title {
  font-size: 1.8rem;
  color: #f93b1d;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.resume-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.page-flex-ct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}
.form-ct {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 109.8rem;
  min-height: 108rem;
  background-color: #f9f9f9f9;
}
.hidden {
  visibility: hidden;
}
.input {
  background: #ffffff;
  border: 0.1rem solid var(--border-color);
  font-size: var(--font-sm);
  line-height: var(--lh-small);
  font-weight: 400;
  color: var(--input-color);
  padding: 1.3rem 1.6rem;
  caret-color: #6499ff;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}
.input::placeholder {
  color: var(--pl-holder-color);
}
.input:focus {
  border: 0.1rem solid var(--border-focused);
  outline: none;
}
.input:focus::placeholder {
  opacity: 0;
}
